<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Nototion</title>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"
    />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="./css/index.css" rel="stylesheet" />
    <link href="./css/oalecd9.css" rel="stylesheet" type="text/css" />
    <link href="./css/style_mw.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.27.2/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.js"></script>
  </head>

  <body>
    <div class="app">
      <div class="floating" v-show="screenshot" v-on:click="close"></div>

      <div class="sidebar">
        <div class="title">Dictotion</div>
        <div class="desc">{{locales[locale]["description"]}}</div>
        <input
          class="search_input"
          name="word"
          type="search"
          autofocus="autofocus"
          autocomplete="off"
          v-model="word"
          @keydown="query(word, dict)"
          @keyup="query(word, dict)"
          @keyup.enter="query(word, dict)"
        />
        <!-- <input
          class="search_input"
          name="word"
          type="search"
          autofocus="autofocus"
          autocomplete="off"
          v-model="word"
          @keyup.enter="query(word, dict)"
        /> -->
        <svg viewbox="0 0 17 17" class="input-icon">
          <path
            d="M6.78027 13.6729C8.24805 13.6729 9.60156 13.1982 10.709 12.4072L14.875 16.5732C15.0684 16.7666 15.3232 16.8633 15.5957 16.8633C16.167 16.8633 16.5713 16.4238 16.5713 15.8613C16.5713 15.5977 16.4834 15.3516 16.29 15.1582L12.1504 11.0098C13.0205 9.86719 13.5391 8.45215 13.5391 6.91406C13.5391 3.19629 10.498 0.155273 6.78027 0.155273C3.0625 0.155273 0.0214844 3.19629 0.0214844 6.91406C0.0214844 10.6318 3.0625 13.6729 6.78027 13.6729ZM6.78027 12.2139C3.87988 12.2139 1.48047 9.81445 1.48047 6.91406C1.48047 4.01367 3.87988 1.61426 6.78027 1.61426C9.68066 1.61426 12.0801 4.01367 12.0801 6.91406C12.0801 9.81445 9.68066 12.2139 6.78027 12.2139Z"
          ></path>
        </svg>
      </div>

      <div class="content">
        <div class="serach-option">
          <span
            class="option highlight dict-oald"
            v-on:click="changeDict('oald')"
            >{{locales[locale]["oald"]}}</span
          >
          <span class="option dict-mw" v-on:click="changeDict('mw')"
            >{{locales[locale]["mw"]}}</span
          >
        </div>
        <Transition>
          <span class="tip" v-show="message=='copied'"
            >{{locales[locale]["copied_success"]}}</span
          >
        </Transition>
        <Transition
          ><span class="tip warning" v-show="message=='not'"
            >{{locales[locale]["not"]}}</span
          ></Transition
        >
        <button class="button primary" v-on:click="send()">
          {{locales[locale]["save"]}}
        </button>
        <button class="button" v-on:click="copy()">
          {{locales[locale]["copyimage"]}}
        </button>
        <div class="wrapper">
          <div v-html="word_html"></div>
        </div>
        <div class="hidden-wrapper"></div>
      </div>

      <div class="sidebar-bottom">
        <span class="language" @click="toggleLanguage"
          >{{locales[locale]["language"]}}</span
        ><br />
        <span class="copyright"
          ><a href="https://github.com/reycn"
            >{{locales[locale]["copyright"]}}</a
          ></span
        >
      </div>
    </div>
    <script src="./js/index.js"></script>
  </body>
</html>
